
<div id="home-area" class="height-100vh bg-img watch-slider" style="background-image: url('/assets/img/slider/w3.jpg');">
    
    <div class="table">
        <div class="table-cell">
            <div class="container ">
                <div class="row">
                    <div class="col-md-6 align-items-center">
                        <div class="slider-text">
                            <h2 class="tlt1">Most <br>intelligent <br>& Smart Watch.</h2>
                            <div class="button-set">
                                <!-- <a class="explore-btn video-popup" href="/shop">
                                    Explore More <i class="ti-control-play"></i>
                                </a> -->
                                <a class="explore-btn" href="/shop">
                                    Shop Now <i class="ti-control-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                        <div class="wacth-img tilter">
                            <img src="assets/img/slider/1.png" alt="" >
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>



<div class="banner-area wrapper-padding gray-bg-7 pt-60" >
    <div class="container-fluid ">
        <div class="row " >
            <div class="col-lg-4">
                <div class="banner-wrapper-4 mb-30">
                    <a href="#"><img src="assets/img/banner/watch5.jpg" alt=""></a>
                    <div class="banner-content4-style1">
                        <!-- <h4>Best <br>Watches <br>Ever</h4> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="banner-wrapper-4 mb-30">
                    <a href="#"><img src="assets/img/banner/watch4.jpg" alt=""></a>
                    <div class="banner-content4-style2">
                        <!-- <h5 class="p-left text-danger">Best</h5>
                        <h2 class="">Watches </h2>
                        <h5 class="p-right">off</h5>
                        <h3>Bitso X1202</h3> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="banner-wrapper-4 mb-30">
                    <a href="#"><img src="assets/img/banner/watch3.jpg" alt=""></a>
                    <div class="banner-content4-style3">
                        <!-- <h1>Up to <br>10% Off</h1>
                        <h3>Lonovo Vio D22</h3> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="electro-product-wrapper wrapper-padding pt-85 pb-75 gray-bg-7">
    <div class="container">
        <div class="section-title-4 text-center mb-45">
            <h2>Top Products</h2>
        </div>

        <div class="top-product-style">
            <!-- <div class="product-tab-list3 text-center mb-80 nav product-menu-mrg" role="tablist">
                <a class="active" href="#electro1" data-bs-toggle="tab" role="tab">
                    <h4>Fiction </h4>
                </a>
                <a href="#electro2" data-bs-toggle="tab" role="tab">
                    <h4>Satire </h4>
                </a>
                <a href="#electro3" data-bs-toggle="tab" role="tab">
                    <h4>Anthologies</h4>
                </a>
            </div> -->
            <div class="tab-content">
                <div class="tab-pane active show fade" id="electro1" role="tabpanel">
                    <div class="custom-row-2">
                     <% topProduct.forEach(product=>{ %>   
                        <div class="custom-col-style-2 custom-col-4  ">
                            <div class="product-wrapper product-border mb-24 border-dark ">
                                <div class="product-img-5  k">
                                    <a href="/viewProduct/<%= product?._id %>">
                                        <img src="<%= product.images[0].thumbnailUrl %>" alt="">
                                    </a>
                                    <div class="product-action-right">
                                        <a class="animate-right" href="#" data-bs-target="#exampleModal" data-bs-toggle="modal" title="Quick View">
                                            <i class="pe-7s-look"></i>
                                        </a>
                                        <a class="animate-top" title="Add To Cart"onclick="addToCart(`<%= product._id %>`)">
                                            <i class="pe-7s-cart"></i>
                                        </a>
                                        <a class="animate-left" title="Wishlist" href="#">
                                            <i class="pe-7s-like"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-content-4 text-center">
                                    <div class="product-rating-4">
                                        <i class="icofont icofont-star yellow"></i>
                                        <i class="icofont icofont-star yellow"></i>
                                        <i class="icofont icofont-star yellow"></i>
                                        <i class="icofont icofont-star yellow"></i>
                                        <i class="icofont icofont-star"></i>
                                    </div>
                                    <h4><a href="product-details.html"><%= product?.title %></a></h4>
                                    <span><%= product?.categoryName?.categoryName%></span>
                                    <h5>₹ <%=product?.salePrice %></h5>
                                </div>
                            </div>
                        </div>
                        <% }) %>

                    </div>
                </div>
 
            </div>
        </div>


    </div>
</div>
<script src="assets/js/shop/cart.js"></script>
<style>

.k {
    width: 200px; /* Set the desired width for the product images */
    height: 200px; /* Set the desired height for the product images */
    object-fit: cover; /* This property ensures that the image covers the specified dimensions */
}
</style>
