<div class="product-details pt-100 pb-0  mb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-7 col-12">
        <div class="product-details-img-content ">
          <div class="product-details-tab mr-35 product-details-tab2">
            <div
              class="product-details-small nav mr-5 product-details-2"
              role="tablist"
            >
              <a
                class="active mb-2 "
                href="#pro-details1"
                data-bs-toggle="tab"
                role="tab"
                aria-selected="true"
              >
                <img src="<%= Product?.images[0]?.imageUrl %>" alt="" />
              </a>
              <a
                class="mb-2"
                href="#pro-details2 "
                data-bs-toggle="tab"
                role="tab"
                aria-selected="true"
              >
                <img src="<%= Product?.images[1]?.thumbnailUrl %>" alt="" />
              </a>
              <a
                class="mb-2 "
                href="#pro-details3 "
                data-bs-toggle="tab"
                role="tab"
                aria-selected="true"
              >
                <img src="<%= Product?.images[2]?.thumbnailUrl %>" alt="" />
              </a>
              <a
                class="mb-2 "
                href="#pro-details4"
                data-bs-toggle="tab"
                role="tab"
                aria-selected="true"
              >
                <img src="<%= Product?.images[3]?.thumbnailUrl %>" alt="" />
              </a>
            </div>
            <div
              class="product-details-small tab-content"
              style="height: 400px; width: 400px"
            >
              <div
                class="tab-pane active show fade "
                id="pro-details1"
                role="tabpanel"
              >
                <div class="easyzoom easyzoom--overlay is-ready  ">
                  <a href="<%= Product?.images[0]?.imageUrl  %>">
                    <img src="<%= Product?.images[0]?.imageUrl %>" alt="" />
                  </a>
                </div>
              </div>
              <div class="tab-pane fade " id="pro-details2" role="tabpanel">
                <div class="easyzoom easyzoom--overlay is-ready ">
                  <a href="<%= Product?.images[1]?.imageUrl %>">
                    <img src="<%= Product?.images[1]?.imageUrl %>" alt="" />
                  </a>
                </div>
              </div>
              <div class="tab-pane fade" id="pro-details3" role="tabpanel">
                <div class="easyzoom easyzoom--overlay is-ready ">
                  <a href="<%= Product?.images[2]?.imageUrl %>">
                    <img src="<%= Product?.images[2]?.imageUrl %>" alt="" />
                  </a>
                </div>
              </div>
              <div class="tab-pane fade" id="pro-details4" role="tabpanel">
                <div class="easyzoom easyzoom--overlay is-ready ">
                  <a href="<%= Product?.images[3]?.imageUrl %>">
                    <img src="<%= Product?.images[3]?.imageUrl %>" alt="" />
                  </a>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-lg-5 col-12 ">
        <div class="product-details-content ">
          <h3><%= Product.title %></h3>
           <p class="text-danger mb-0 fw-bold"><%= Product.categoryName.categoryName%></p>
           <p class=" fw-bold"><%= Product.description %></p>
          
          </div> 
           <% if(Product.productPrice!==Product.salePrice){  %>
            <h5 class="text-success fw-bold"><%=Product.categoryName.description %></h5>
             <% } %> 
          <div class="details-price gap-3 d-flex align-items-baseline">
            <div class="">
              <span class="h3 fw-bold">₹ <%= Product.salePrice %></span>
            </div>
           <% if(Product.productPrice!==Product.salePrice){  %>
            <div class="">
              <span class="text-muted text-decoration-line-through"
                >₹ <%= Product.productPrice %></span>
            </div>
            <h5 class="fw-bolder text-danger"><%=Product.categoryName.offer %>% off </h5>
          
         <% } %> 
          </div>
         
          <% if (Product.quantity === 0) { %>
          <smal class="text-danger h4 fw-bold">Out Of Stock!</smal>
          <% } else if (Product.quantity < 5) { %>
          <smal class="text-warning h5"
            >Hurry, Only <%=Product.quantity %> more left!</smal
          >
          <% } %>

          <div class="quickview-plus-minus">

                      <div class="quickview-btn-cart">
                        <% if(!user){ %>
                          <a class="btn-hover-black rounded-pill" title="" href="/login">add to cart</a>
                          <% }else{ %>
                            <a class="btn-hover-black rounded-pill" title="" onclick="addcart(`<%=Product._id%>`)">add to cart</a>
                            <% } %>
                      </div>
                      <div class="quickview-btn-wishlist">
                        <% if(!user){ %>
                          <a class="btn-hover" href="/login"><i class="pe-7s-like"></i></a>
                          <% }else{ %>
                            <a class="btn-hover" href="#"><i class="pe-7s-like"></i></a>
                            <% } %>
                         
                      </div>
                  </div>
                  

          <div class="product-share mt-4">
            <ul>
              <li class="categories-title">Share :</li>
              <li>
                <a href="#">
                  <i class="icofont icofont-social-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icofont icofont-social-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icofont icofont-social-pinterest"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icofont icofont-social-flikr"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="product-description-review-area ">
  <div class="container">
    <div class="product-description-review text-center">
      <div class="description-review-title nav" role="tablist">
        <a
          class="active"
          href="#pro-dec"
          data-bs-toggle="tab"
          role="tab"
          aria-selected="true"
        >
          Description
        </a>
        <a
          href="#pro-review"
          data-bs-toggle="tab"
          role="tab"
          aria-selected="false"
        >
          Reviews (0)
        </a>
      </div>
      <div class="description-review-text tab-content">
        <div class="tab-pane active show fade"id="pro-dec"role="tabpanel">
          <a href="#">Be the first to write your Description!</a>
        </div>
        <div class="tab-pane fade" id="pro-review" role="tabpanel">
          <a href="#">Be the first to write your review!</a>
        </div>
      </div>
    </div>
  </div>
</div> -->



<div class="product-area ">
  <div class="container">
    <div class="section-title-3 text-center mb-5">
      <h2 class="mt-5 ">Related products</h2>
    </div>
    <div id="grid-sidebar" class="tab-pane fade active show">
      <div class="row">
          <% relatedProducts.forEach(product => { %>
          <div class="col-lg-3 col-md-5">
              <div class="product-wrapper product-box-style mb-30 border">
                  <div class="product-img">
                      <a href="/viewProduct/<%= product?._id %>">
                          <img src="<%= product.images[0].thumbnailUrl%>" alt="<%= product.title %>">
                      </a>
                      <div class="product-action">
                         
                          
                          
                          <a class="animate-right" title="Quick View" href="/viewProduct/<%= product?._id %>">
                            <i class="pe-7s-look"></i>
                        </a>
                      </div>
                  </div>
                  <div class="product-content">
                      <h4><a href="#"><%= product.title%></a></h4>
                  </div>
                  <div class="d-flex justify-content-between">
                      <span class="text-decoration-line-through text-secondary">
                          ₹ <%= product.productPrice %>
                      </span>
                      <span>₹ <%= product.salePrice %></span>
                  </div>
              </div>
          </div>
          <% }) %>
      </div>
  </div>
  </div>
</div>

<style>
    .container{
        margin-top: 100px;
    }
</style>

<script src="assets/js/shop/shop.js" ></script>

<script>
  function addcart(id) {
  const url = `/cart/add/${id}`;

  const cartMessage = document.getElementById("cart-message");
 

  fetch(url, {
    method: "GET",
  })
    .then((response) => {
      if (response.ok) {
        return response.json();
      } else {
        console.log("json response is sending failed");
      }
    })
    .then((data) => {
      if (data) {
        if (data.count && data.message) {
          // cartCount.innerText = data.count;
          cartMessage.innerText = data.message;

          cartMessage.className = `position-fixed bg-${data.status} text-white p-2 rounded`;
          cartMessage.style.display = "block";

          setTimeout(function () {
            cartMessage.style.display = "none";
          }, 3000);
        } else {
          console.error("Unexpected data format",data);
        }
      }
    })
    .catch((error) => {
      console.error("An error occurred:", error);
    });
  }
</script>



